[Unit]
Description=Dockerised web server
Require=docker.service
After=docker.service

[Service]
WorkingDirectory=/root/Dockerfiles
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
Restart=always
TimeoutStopSec=10min

[Install]
WantedBy=multi-user.target