#!/bin/sh

# Backblaze B2 configuration variables
B2_ACCOUNT="{{ b2_key_id }}"
B2_KEY="{{ b2_app_key }}"
B2_BUCKET="loki-backup"

# GPG key (last 8 characters)
GPG_KEY="{{ gpg_key_id }}"
GPG_PASSPHRASE="{{ gpg_passphrase }}"
