[Unit]
Description=Dockerised web server
After=docker.service

[Service]
WorkingDirectory={{ loki_dir }}
Environment="COMPOSE_HTTP_TIMEOUT=300"
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
Restart=always
TimeoutStopSec=10min

[Install]
WantedBy=multi-user.target